@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --side-padding: 3rem;
  --top-padding: calc(var(--side-padding) / 2);
  --black: #000;
  --black6: #000000a6;
  --white: #fff;
  --white6: #ffffff99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  min-height: 100dvh;
  max-width: 1600px;
  margin-inline: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.3rem;
  font-weight: 500;
}

h2 {
  font-size: 1.45rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: clamp(0.3rem, 0.5rem + 0.5vw, 2vw);
  font-weight: 500;
}

h5 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.7em 1.1em;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: var(--top-padding) var(--side-padding);
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  font-weight: bold;
}

header nav .topBar {
  display: flex;
  gap: 1.5em;
}

.topBar li {
  padding: 0.5em 0.7em;
  border-radius: 5px;
  transition: ease 0.5s;
}

li.active {
  background-color: var(--black);

  a {
    color: var(--white);
  }
}

header .sideBar.hide {
  display: none;
}

header .sideBar {
  padding-block: .5rem;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 350px;
  z-index: 99;
  background-color: #fbfbfb;
  border-radius: 0 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sideBar li {
  padding: 1em 1.5em;
}

.sideBar li a {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: unset;
  border-radius: unset;
}

.sideBar li i {
  color: inherit;
}

.sideBar .line {
  padding: unset;
  margin-top: 1rem;
  height: 1px;
  width: 90%;
  background-color: var(--black6);
  margin-inline: auto;
}

.sideBar .signing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5px;

  * {
    display: inline;
    text-align: center;
  }

  a {
    border: 2px solid var(--black);
    padding: 0.7em 1.1em;
    border-radius: 5px;
  }
}

.signing a {
  padding: 0.7em 1.1em;
}

.signing button {
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);
}

.signing button:hover {
  background-color: var(--white);
  color: var(--black);
}

.menu {
  display: none;
  font-size: 1.3rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: var(--side-padding);
}

.featured {
  background-image: url("https://images.unsplash.com/photo-1534120247760-c44c3e4a62f1?q=80&w=1798&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 30rem;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 var(--side-padding);
  align-items: end;
  display: flex;
  transition: ease 1s;
  cursor: pointer;

  &:hover {
    h4 {
      color: var(--black);
      background-color: var(--white);
    }
  }
}

.featured div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--white);
  padding: var(--side-padding);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.featured h4 {
  width: fit-content;
  border: 2px solid var(--white);
  border-radius: 20px;
  padding: 0.4em 1em;
  transition: ease 0.5s;
}

.featured p {
  line-height: 1.7em;
  color: var(--white);
  opacity: 0.9;
}

.posts,
.posts h2 {
  margin-bottom: 1rem;
}

.recent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.recent-post {
  margin-bottom: 3rem;
  transition: ease 0.5s;
}

.recent-post:hover {
  scale: 1.02;
  cursor: pointer;
}

.img {
  height: 15rem;
  width: 100%;
  margin-bottom: 1.2rem;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.content {
  padding-right: 0.5em;
}

.content p {
  color: var(--black6);
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load button {
  background-color: var(--black);
  color: var(--white);
}

.load button:hover {
  border: 2px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  scale: 1.05;
}

footer {
  margin: 0 var(--side-padding) var(--top-padding);
}

footer .wrapper {
  padding: var(--side-padding) calc(var(--side-padding) * 1.5);
  border-radius: 20px;
  text-align: center;
  background-color: var(--black);
  color: var(--white6);
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

footer div h5,
footer .links .link-title,
footer .logo,
footer .credits {
  color: var(--white);
}

footer .links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
}

.links ul {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links li,
.credits .copyrights {
  font-weight: 300;
}

.links li {
  margin-bottom: 1rem;
  color: var(--white6);
  text-align: left;
  transition: 0.5s ease;
  cursor: pointer;
}

.links li:hover {
  color: var(--white);
}

.links .link-title {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: default;
}

footer .credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  font: inherit;
  color: inherit;
}

@media (max-width: 850px) {
  header {
    padding: var(--top-padding);
  }

  header nav,
  header > .signing {
    display: none;
  }

  header .menu {
    display: block;
  }

  .featured {
    margin: unset;
    border-radius: 0;
  }

  .featured div {
    padding: var(--top-padding);
  }

  .container {
    padding: var(--top-padding);
  }

  footer {
    margin: var(--top-padding) 0 0;
  }

  footer .wrapper {
    border-radius: 20px 20px 0 0;
    padding: var(--side-padding) var(--top-padding);
  }

  footer .credits {
    flex-direction: column;
    gap: 1em;
  }
}

@media (max-width: 550px) {
  header .sideBar {
    width: 100%;
    border-radius: unset;
  }

  .featured p {
    display: none;
  }
}
